.productDetail {
	width: 30%;
	padding: 10px;
	margin: 0 auto;
	&__name {
		font-weight: bold;
		font-size: 20px;
		margin-top: 5px;
	}
	&__category {
		color: grey;
	}
	&__price {
		font-weight: bold;
		margin-top: 10px;
	}
}

.title {
	font-weight: bold;
	font-size: 25px;
	margin: 10px 0;
	text-align: center;
	color: #0b132b;
}
