.product {
	width: 100vw;
	padding: 5%;
	&__title {
		text-align: center;
		font-size: 32px;
		font-weight: bold;
	}
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		&__skeleton {
			width: 25%;
			padding: 10px;
			animation: blinking 2s infinite;
			&__image {
				width: 100%;
				aspect-ratio: 1 / 1;
				background-color: grey;
			}
			&__name {
				width: 100%;
				height: 20px;
				margin-top: 5px;
				background-color: grey;
			}
			&__category {
				width: 100%;
				height: 16px;
				background-color: grey;
				margin-top: 10px;
			}
			&__price {
				width: 100%;
				height: 16px;
				margin-top: 10px;
				background-color: grey;
			}
		}
		&__item {
			width: 30%;
			padding: 10px;
			&__name {
				font-weight: bold;
				font-size: 20px;
				margin-top: 5px;
			}
			&__category {
				color: grey;
			}
			&__price {
				font-weight: bold;
				margin-top: 10px;
			}
		}
	}
}

@keyframes blinking {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
